.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  margin-bottom: 10px;
  background-color: #42f4aa;
  height: 150px;
  padding: 20px;
  color: blue;
  font-weight: bold;
}

.App-title {
  text-align: center;
  margin: 0 auto;
  font-family: "League-Gothic", Courier;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 0 #ffd217, 10px 10px 0 #5ac7ff, 15px 15px 0 #ffd217,
    20px 20px 0 #5ac7ff;
}

@media only screen and (max-width: 470px) {
  .App-header {
    padding: 10px;
  }

  .App-title {
    font-size: 55px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
}

span.btn-icon {
  margin-right: 10px;
  background-size: contain;
  float: left;
  width: 40px;
  height: 40px;
}

.get-random {
  background: url("images/man-in-a-party-dancing-with-people.svg") no-repeat;
}

.create {
  background: url("images/flags.svg") no-repeat;
}

.organization {
  background: url("images/flyer.svg") no-repeat;
}

.buddy {
  background: url("images/wine-glasses.svg") no-repeat;
}
